# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/config
.DS_Store
.project
/balancetracker-qa-kubernetes/balancetracker-chaincode
/balancetracker-qa-network/balancetracker-chaincode
/balancetracker-test-network/balancetracker-chaincode
/balancetracker-test-kubernetes/balancetracker-chaincode
/balancetracker-ds-kubernetes/balancetracker-chaincode

